.ioc {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $bg-black;
  padding-top: calc(70px + 1rem);

  &__prompt {
    width: 90%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-bottom: 0px;
    // margin-bottom: 0.8rem;

    p {
      font-size: 1.1rem;
      font-style: italic;
      font-weight: 300;
      color: $white;
      opacity: 0.8;
      margin-bottom: 0;
    }
  }

  &__btns {
    width: 90%;
    height: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;

    a {
      width: 50%;
      height: 100%;
      text-decoration: none;
      color: gainsboro;


      .ingredients-link, .codex-link {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        padding: 0 1rem;
        text-align: center;

        &:active {
          background: linear-gradient(to bottom, rgba(218, 165, 32, 0.341), transparent);
        }

        p {
          font-size: 1.5rem;
          font-weight: 200;
          line-height: 1.25;
          opacity: 0.9;
        }
      }

      .ingredients-link {
        border-top-left-radius: 155px;
        border-right: 0px;
        border-bottom: 0px;
      }

      .codex-link {
        border-top-right-radius: 155px;
        border-bottom: 0px;
      }
    }
  }
}
