// .banner {
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
// }

// .banner h1 {
//   margin: 0;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 32px;
//   font-weight: bold;
// }

// .banner p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }

.master {
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1626688445658-c948f32d68ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80);
  background-image: url(https://images.unsplash.com/photo-1626688445658-c948f32d68ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.title h1{
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 15vmin;
  text-transform: uppercase;
  margin-bottom: 0;
}

.btn-ghost {
  // margin-right: auto;
  // margin-left: auto;
  background-color: #2B2C28;
  color:azure;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  // transition: opacity 0.3s ease;
  position: relative;
}

.btn-ghost:hover {
  opacity: 1;
  color: #F5AB00;
  border-color: #F5AB00;
}

.container {
  padding: 7rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  flex-wrap: nowrap;
  flex-direction: column;
}
