<div class="container">
  <h1>Select all the ingredients you have!</h1>

  <div class="liquors">
    <h2>Liquors</h2>
    <ul>
      <% @liquors.each do |liquor| %>
        <li>
          <%= liquor.name %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="liqueurs">
    <h2>Liqueurs</h2>
    <ul>
      <% @liqueurs.each do |liqueur| %>
        <li>
          <%= liqueur.name %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="syrups">
    <h2>Syrups</h2>
    <ul>
      <% @syrups.each do |syrup| %>
        <li>
          <%= syrup.name %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="juices">
    <h2>Juices</h2>
    <ul>
      <% @juices.each do |juice| %>
        <li>
          <%= juice.name %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
