<div class="ingredients">
  <h1>Select all the ingredients you have!</h1>

  <section class="ingredients__section section">
    <ul class="list-unstyled section__list">
      <% @user_ingredients.each do |user_ingredient| %>
        <li>
          <%= link_to toggle_selected_path(user_ingredient) do %>
            <% if user_ingredient.selected == false %>
              <div class="card">
                <p>
                  <%= user_ingredient.ingredient.name %>
                </p>
              </div>
            <% else %>
              <div class="card selected">
                <p>
                  <%= user_ingredient.ingredient.name %>
                </p>
              </div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</div>
