<h1>Suggested recipes</h1>

<ul>
  <% @filter_data.each do |recipe| %>
    <li><%= link_to recipe["strDrink"], recipe_path(recipe["idDrink"]) %></li>
  <% end %>
</ul>

<%= link_to "Back to Ingredients", user_ingredients_path %>
