<div class="container-fluid" style="width: 100%; display: flex; flex-direction: column; align-items: center; padding-top: 2rem; color: #FFFAFB; background-color: #131515; height: 110vh; gap: 2rem;">
  <h1 style="margin-bottom: 2rem; font-weight: 300; font-size: 2.2rem;">"Under Your Nose"</h1>

  <div style="background-color: #1E1E1E; width: 100%; padding: 2rem; border-radius: 8px;">
    <h3>Ingredients</h3>

    <ul>
      <li>2 oz Kentucky Bourbon</li>
      <li>1 oz Sweet Vermouth</li>
      <li>Ice</li>
      <li>A Maraschino Cherry</li>
    </ul>
  </div>

  <div style="background-color: #1E1E1E; width: 100%; padding: 2rem; border-radius: 8px;">
    <h3>Steps</h3>

    <ol>
      <li>Combine kentucky bourbon and sweet vermouth in mixing vessel</li>
      <li>Add ice to mixing vessel</li>
      <li>Stir ingredients thoroughly, around 20-30 seconds</li>
      <li>Strain drink into iceless glass</li>
      <li>Add maraschino cherry to bottom of glass</li>
      <li>Enjoy!</li>
    </ol>
  </div>

  <div>
    <%= link_to "My Bar", user_ingredients_path, {:style=>'color:#FFFAFB; text-decoration: none;'}%>
  </div>
</div>
