<% if notice %>
<div data-controller="fade-out">
  <div class="alert alert-info alert-dismissible fade show m-1 fade-out-animation" role="alert" data-fade-out-target="flash">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
</div>
<% end %>
<% if alert %>
<div data-controller="fade-out">
  <div class="alert alert-warning alert-dismissible fade show m-1 fade-out-animation" role="alert" data-fade-out-target="flash">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
</div>
<% end %>
