
<div class='master'>
  <div class='container'>
    <div class='title'>
      <h1>D R I N K <br> M E</h1>
    </div>
      <div class='homepagebutton'>
        <%= link_to "Get Started", user_ingredients_path, class: "btn btn-ghost" %>
      </div>
  </div>
</div>
