<div class="ioc">

<div class="ioc__btns">
  <%= link_to user_ingredients_path, class: "ingredients-link"  do %>
    <div>
      Select your Ingredients
    </div>
  <% end %>

  <%= link_to codex_path, class: "codex-link"  do %>
    <div>
      View the Codex
    </div>
  <% end %>
</div>
</div>
