<div class="ioc">
  <div class="ioc__prompt">
    <p>What would you like to do?</p>
  </div>

  <div class="ioc__btns">
    <%= link_to user_ingredients_path do %>
      <div class="ingredients-link" >
        <p>Select your Ingredients</p>
      </div>
    <% end %>

    <%= link_to codex_path do %>
      <div class="codex-link">
        <p>View the Codex</p>
      </div>
    <% end %>
  </div>
</div>
