<div class="ioc">
  <div class="ioc__prompt">
    <p>LET THE GOOD TIMES ROLL</p>
  </div>

  <div class="ioc__btns">
    <%= link_to user_ingredients_path do %>
      <div class="ingredients-link" >
        <p>SELECT YOUR INGREDIENTS</p>
      </div>
    <% end %>

    <%= link_to codex_path do %>
      <div class="codex-link">
        <p>BROWSE ALL COCKTAILS</p>
      </div>
    <% end %>
  </div>
</div>
