<div class="suggestions-container">
    <h1>Pick your poison!</h1>
        <div class="banner">
        <div class="container2" style="background-image: url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
                <%= link_to 'Under Your Nose', class:"btn btn-flat" %>
            </div>
        </div>
        <div class="banner">
        <div class="container2" style="background-image: url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= link_to 'Eat My Hat!', class:"btn btn-flat" %>
        </div>
    </div>
    <div class="banner">
    <div class="container2" style="background-image: url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= link_to 'Drive Me Nuts', class:"btn btn-flat" %>
        </div>
    </div>
</div>
</div>
