<div class="container-main">
    <h1>Pick your poison!</h1>
        <div class="banner">
         <div class="container2">
            <h2>Make it fast and easy!</h2>
                <%= link_to 'Under Your Nose', under_your_nose_path, class:"btn btn-flat" %>
            </div>
        </div>
        <div class="banner">
        <div class="container2">
           <h2>A little more complicated...</h2>
               <a class="btn btn-flat" href="#">Eat My Hat!</a>
           </div>
       </div>
       <div class="banner">
       <div class="container2">
          <h2>I’m ready for a challenge!</h2>
              <a class="btn btn-flat" href="#">Drive Me Nuts</a>
          </div>
      </div>
</div>
</div>
