<div class="verification">
  <h1>Drink.Me only serves adults</h1>

  <%= image_tag "pages_icons-svgs/verify-icon.svg" %>


  <p>Please confirm your age before proceeding.</p>

  <%= link_to "I am NOT 18+", root_path %>
  <%= link_to "I am 18+", user_ingredients_path %>
</div>
