<div class="verification">
  <h1>Drink.Me only serves adults</h1>

  <div class="verification__imgContainer">
    <%= image_tag "pages_icons-svgs/verify-icon.svg", class: "" %>
  </div>

  <p>Please confirm your age before proceeding.</p>

  <div class="verification__btns btns">
    <%= link_to "I am NOT 18+", root_path,  class: "btns__btn", data: { turbo_method: "get", turbo_confirm: "Halt! Drink Me only serves adults. You must be 18 or older to signup."} %>
    <%= link_to "I am 18+", ioc_path, class: "btns__btn" %>
  </div>
</div>
