$card-gray: #1B1B1B;

.r-container {
  background-color: $bg-black;
}

.recipe {
  // border: 1px solid red;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  background-color: $card-gray;
  color: $white;

  h1, h2 {
    font-weight: 300;
  }

  &__card-category {
    background-size: cover;
    background-position: center;
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    h2 {
      font-size: 2rem; // 26px
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  &__ingredients {
    // border: 1px solid blue;

    .ingredients-container {
      display: flex;
      gap: 2rem;

      .ingredient-list {
        // border: 2px dashed magenta;
      }

      .measurement-list {
        // border: 2px dashed magenta;
      }
    }
  }

  &__instructions {
    //
  }
}
