
<div>
<h1>Add a Tool</h1>

      <%= simple_form_for([@user_tool]) do |f| %>
        <%= f.association :tool, input_html: { multiple: true }, include_hidden: false %>
        <%= f.submit 'Tool!', class: 'btn btn-secondary' %>
      <% end %>
</div>
