.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.fade-out-animation {
  // background-color: red;

  animation-name: fadeout;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards; // important!
  // animation-iteration-count: 1;
}
