.alert {
  width: 90%;
  position: fixed;
  bottom: 13px;
  left: 49%;
  transform: translateX(-50%);
  z-index: 1000;

  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  background-color: rgba(120, 120, 119, 0.25);
  border-radius: 5px;
  color: goldenrod;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.fade-out-animation {
  animation-name: fadeout;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards; // important!
}
