// This makes navbar fixed to the top and remains
// above all content. - Melissa
.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  min-height: 70px;
  height: auto;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-bottom: 0;
  }

  .me-auto {
    margin-bottom: 0.25rem;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: #131515;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

body {
	background: #DDD;
	font-size: 15px;
}


.navbar-title {
  color: #ECECEA;
  letter-spacing: 10px;
  font-weight: lighter;
}

.nav-hamburger {
  width: 20px;
  &:hover {
    cursor: pointer;
  }
}

.container-fluid {
  justify-content: center;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: #ECECEA;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
