// CONTAINER
.form {
  border: 1px solid red;

  height: 100vh;
  background-color: $bg-black;
  padding: 90px 1rem 1rem 1rem;
  color: #FFF;

  h2 {
    font-weight: 300;
    font-size: 2rem;
  }

  // FORM
  .simple_form {
    border: 1px solid blue;
    width: 100%;
  }
}
